extends layout.pug

append content
	h1 Home
	+list-group([test, "Dos", "Tres", "Cuatro"])

	
	form#contactUs(action="/post" name="contactUs" method="POST")
		label(for="email") Email Message
		input#email(type="text" name="test")
		input(type="submit" value="Save")

	
	
	form(action='/post', method='POST')
		+input(type="text",
			   label="TEST",
			   id="test")
		+submit(text="Submit now",
				id="test")