extends ../node_modules/pug-bootstrap/_bootstrap

append styles
	// Custom styles for this template
	link(href='stylesheets/style.css', rel='stylesheet')
append head
	meta(charset="UTF-8")
	script(src="https://kit.fontawesome.com/b99e675b6e.js")
append body
	.wrapper
		.sidebar
			img(src="images/bot-icon-tp.png")
			ul
				li
					a(href="/")
						+icon("home")
						|  Home
				li
					a(href="settings")
						+icon("cog")
						|  Settings
				li
					a(href="help")
						+icon("question-sign")
						|  Help
				li
					a(href="login")
						+icon("user")
						|  Login
				li
					a(href="contact")
						+icon("phone")
						|  Contact
		.main_content
			.header NUSMods Telebot Administration Website
			.info
				block content